            <div class="border"></div>

            <div class="footer">
                <small class="footer-left">
                    <a href="https://github.com/nikklas-a">
                        <img src="/staticsitegen/site/html/static/icons/githublogo.svg" height="32" width="35" >
                    </a>
                </small>

                <small class="footer-right">
                Made by <a href="mailto:niklas.arvidsson@gmail.com">Niklas Arvidsson</a>  | Last generated: {{date_generated}}
                </small>
            </div>


