                <div class="header-left">
                <!--   [HEADER LEFT] --> 
                </div>
                <div class="header-right">
                              
                  <nav>
                      <ul> 
                            |
                            <li class="nav">                
                            <a href="/staticsitegen/site/html/index.html">Feed </a>
                            </li>
                            |
                            <li class="nav">
                            <a href="/staticsitegen/site/html/about.html">About</a>
                            </li>
                            | 
                            <li class="nav">
                              <a href="/staticsitegen/site/html/gallery.html">Gallery</a>
                            </li>
                            |
                            <li class="nav">
                              <a href="/staticsitegen/site/html/tags.html">Tags</a>
                            </li>
                            |
                        </ul>
                      </ul>
                    </nav>
                </div>