                <div class="header-left">
                <!--   [HEADER LEFT] --> 
                </div>
                <div class="header-right">
                              
                  <nav>
                      <ul> 
                            |
                            <li class="nav">                
                            <a href="{{ href }}/index.html">Home </a>
                            </li>
                            |
                            <li class="nav">
                            <a href="{{ href }}/about.html">About</a>
                            </li>
                            | 
                            <li class="nav">
                              <a href="{{ href }}/gallery.html">Gallery</a>
                            </li>
                            |
                            <li class="nav">
                              <a href="{{ href }}/tags.html">Tags</a>
                            </li>
                            |
                        </ul>
                      </ul>
                    </nav>
                </div>