            <h7>{{title}}</h7>
            
            <div class="border"></div>
            
            <small class="post_data">
               
                Written by: {{ author }} &ensp; | &ensp;
                Date created: {{ date_created }} &ensp; | &ensp;
                Date generated: {{ date_generated }} &ensp; | &ensp;
            
                <a href="mailto:?subject=Check this out&amp;body=http://vb.arvidsson.xyz/posts/{{post_slug}}"." title="Share by Email">
                    Share
                </a>
    
                <hr>

          
                Tag <a href="{{ href }}/staticsitegen/site/html/tags.html#{{tag | lower |replace(" ", "")}} ">{{ tag }} </a> | 
                           
                <br>    
                <br>
                  
            </small>

                <ul>
                    <li>
                           {{ article }} 
                    </li>
                </ul>
