<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="{{ author }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> vb.arvidsson.xyz | {{title}} </title>

            <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <div class="content">
            <header>
                <div class="header-left">
                   <!--   [HEADER LEFT] -->                
                </div>
                <div class="header-right">
                              
                  <nav>
                      <ul> 
                                                 
                            <li class="nav">                
                            <a href="../index.html">Feed </a>
                            </li>
                        
                            <li class="nav">
                            <a href="../about.html">About</a>
                            </li>
                        
                        </ul>
                   
                      </ul>
                    </nav>
                </div>
            </header>
        <main>
            <h1>{{title}}</h1>
            <div class="border"></div>
            
            <small class="post_data">
                Written by: {{ author }} &ensp; | &ensp;
                Date created: {{ date_created }} &ensp; | &ensp;
                Date generated: {{ date_generated }} &ensp; | &ensp;
                <a href="mailto:?subject=Check this out&amp;body=http://vb.arvidsson.xyz/posts/{{post_slug}}"." title="Share by Email">
                    Share
                </a>
                <hr>
                
                                

                Tags: <a href="{{ href }}/sites/html/tags/{{tag_1 | replace(" ", "")}} ">{{ tag_1 }} </a>  &nbsp; | &nbsp; <a href="{{ href }}/sites/html/tags/{{tag_2 | replace(" ", "")}}">{{ tag_2 }}  &nbsp; | &nbsp; <a href="{{ href }}/sites/html/tags/{{tag_3 | replace(" ", "")}}">{{ tag_3 }}</a>
                <br>
                  
            </small>

                <ul>
                    <li>
                           {{ article }} 
                    </li>
                </ul>
        </main>

        <footer>
            <div class="border"></div>

            <div class="footer">
                <small class="footer-left">
                    <a href="https://github.com/nikklas-a">
                        <img src="../static/icons/githublogo.svg" height="32" width="35" >
                    </a>
                </small>

                <small class="footer-right">
                Made by <a href="mailto:niklas.arvidsson@gmail.com">Niklas Arvidsson</a>
                </small>
            </div>
        </footer>
        </div>
    </body>
</html>