<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="{{ author }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> vb.arvidsson.xyz | {{title}} </title>

            <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <div class="content">
            <header>
                {% include "site/templates/includes/header.html" %}
            </header>
        <main>
            <h1>{{title}}</h1>
            <div class="border"></div>
            
            <small class="post_data">
                Written by: {{ author }} &ensp; | &ensp;
                Date created: {{ date_created }} &ensp; | &ensp;
                <a href="mailto:?subject=Check this out&amp;body=http://vb.arvidsson.xyz/about" title="Share by Email">
                    Share
                </a>
                <hr>
                  
            </small>

                <ul>
                    <li>
                           {{ article }} 
                    </li>
                </ul>
        </main>

        <footer>
            {% include "site/templates/includes/footer.html" %}
        </footer>
        </div>
    </body>
</html>