<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="{{ author }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> vb.arvidsson.xyz | Feed </title>

            <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <div class="content">
            <header>
                {% include "site/templates/includes/header.html" %}
            </header>
        <main>

            <h1>{{feed_title}}</h1>
            <div class="border"></div>
            
            <small class="post_data">
          </small>  

                             
            </small>
                {% for post in posts %}
                <ul>
                    <li>
                        <h1>{{post.title}}</h1>
                        <small> 
                            Posted: {{post.date}} <br>
                            Written by: {{post.author}}<br>
                        </small><br>

                        <img src="{{post.thumbnail}}" style="padding: 20px;" height="200"> <br>  

                        {{post.summary}} <br> <br>
                         
                        <a href="{{ href }}/staticsitegen/site/html/posts/{{post.slug}}.html"> More... </a> <br>
                        <hr>

                    </li>
                </ul>
                {% endfor %}

        </main>

        <footer style="padding-top: 8em;">
            {% include "site/templates/includes/footer.html" %}
        </footer>
        </div>
    </body>
</html>