<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="{{ author }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> vb.arvidsson.xyz | Feed </title>

            <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <div class="content">
            <header>
                <div class="header-left">
                  <!--   [HEADER LEFT] -->                
                </div>
                <div class="header-right">
                              
                  <nav>
                      <ul> 
                                                 
                            <li class="nav">                
                            <a href="index.html">Feed </a>
                            </li>
                        
                            <li class="nav">
                            <a href="about.html">About</a>
                            </li>
                       
                        </ul>
                   
                      </ul>
                    </nav>
                </div>
            </header>
        <main>

            <h1>{{feed_title}}</h1>
            <div class="border"></div>
            
            <small class="post_data">
          </small>  

                             
            </small>
                {% for post in posts %}
                <ul>
                    <li>
                        <h1>{{post.title}}</h1>
                        <small> 
                            Posted: {{post.date}} <br>
                            Written by: {{post.author}}<br>
                        </small><br>
                        {{post.summary}} <br> <br>
                         
                        <a href="{{ href }}/staticsitegen/site/html/posts/{{post.slug}}.html"> More... </a> <br>
                        <hr>

                    </li>
                </ul>
                {% endfor %}

        </main>

        <footer>
            <div class="border"></div>

            <div class="footer">
                <small class="footer-left">
                    <a href="https://github.com/nikklas-a">
                        <img src="./static/icons/githublogo.svg" height="32" width="35" >
                    </a>
                </small>

                <small class="footer-right">
                Made by <a href="mailto:niklas.arvidsson@gmail.com">Niklas Arvidsson</a> | Last generated: {{date_generated}}
                </small>
            </div>
        </footer>
        </div>
    </body>
</html>